.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  background-color: #00FA11; /* WHY dont they use pure green :sob: */
  overflow: hidden;
}

body {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#ghost {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  user-select: none;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.reactbot {
  max-height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  object-fit: contain;
}

#reactbot-player {
  display: none;
  &.playing {
    display: block;
    & ~ #reactbot-idle {
      display: none;
    }
  }
}